.status-bar{
    display: flex;
    justify-content: center;
    padding: 5px 3px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box; 
    /* 특정 위치에 고정시킨 후 content 안짤리게 함 */
    /* padding left, right를 늘려도 box width 안 늘리고 고정시킴 */
}

.status-bar__column{
    width: 33%;
}

.status-bar__column:first-child span{
    margin-right: 5px;
}

.status-bar__column:nth-child(2){
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.status-bar__column:last-child{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.status-bar__column .fa-battery-three-quarters{
    margin: 0px 5px;
}